.Rproj.user
.Rhistory
.RData
.Ruserdata

data/liss_data
data/clean_data_long.RData
data/ddm_clean.RData
data/clean_data_mean.RData
data/ddm_raw.csv
data/exclusions.RData
data/L_CognitiveAdversity_1.0p.sav
data/liss_2024_data.sav
data/pilot_data.RData
data/raw_data_long.RData

analysis_objects/ddm_colorshape_mod1.RData
analysis_objects/ddm_simon_mod1.RData
analysis_objects/ddm_flanker_mod1.RData
analysis_objects/ddm_animacysize_mod1.RData
analysis_objects/ddm_globallocal_mod1.RData
analysis_objects/ddm_posner_mod1.RData


data/L_CognitiveAdversity_TASKDATA.csv